##                                    Chicago Car Crash Analysis

## Overview

Road safety remains a critical public health concern in major cities around the world, including Chicago. In an effort to improve traffic safety and reduce the frequency and severity of car accidents, the Chicago Department of Transportation has initiated a data-driven investigation into the primary causes of motor vehicle crashes within the city.

This project aims to develop a predictive model that identifies the primary contributory cause of car accidents using data drawn from three key sources: vehicle characteristics, driver and passenger information, and environmental factors such as road conditions and weather. By analyzing these diverse datasets, the model will help uncover underlying patterns and risk factors associated with traffic accidents.

The insights generated will support data-informed decision-making, enabling city officials to implement targeted safety interventions, design better infrastructure, and ultimately make Chicagoâ€™s roads safer for all users.

## Business Understanding

The Chicago Department of Transportation aims to investigate the root causes of car crashes within the city. This project seeks to build a predictive model that identifies the primary contributory cause of a car accident by analyzing comprehensive data from vehicles, drivers/passengers, and the environment. By leveraging this multi-source dataset, the goal is to uncover patterns that can inform targeted interventions, enhance road safety, and reduce accident rates across Chicago.

## Stakeholders


1. City of Chicago Transportation Department : to guide policies and interventions to improve road safety.

2. Vehicle Safety Boards : to influence regulations on vehicle safety features.

3. Public Health & Law Enforcement : to identify high-risk patterns and take preventive action.

## Key Questions This Project Aims to Answer:

1. What are the leading causes of accidents in Chicago?

2. Can we predict why a crash occurred based on who was driving, what they were driving, and under what conditions?

3. Are there specific car types, road conditions, or human behaviors consistently linked with particular causes?

4. How can the city use this information to reduce crash frequency and severity?

## Data Understanding

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [3]:
vehicles_df = pd.read_csv("Vehicles_Data.csv")
vehicles_df

c:\Users\Administrator\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (20,39,40,41,43,47,48,49,52,54,57,58,60,70) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,CRASH_UNIT_ID,CRASH_RECORD_ID,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,10,2e31858c0e411f0bdcb337fb7c415aa93763cf2f23e02f...,08/04/2015 12:40:00 PM,1,DRIVER,NaN,10.0,NaN,FORD,Focus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100,e73b35bd7651b0c6693162bee0666db159b28901437009...,07/31/2015 05:50:00 PM,1,DRIVER,NaN,96.0,NaN,NISSAN,Pathfinder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000,f2b1adeb85a15112e4fb7db74bff440d6ca53ff7a21e10...,09/02/2015 11:45:00 AM,1,DRIVER,NaN,954.0,NaN,FORD,F150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000,15a3e24fce3ce7cd2b02d44013d1a93ff2fbdca80632ec...,10/31/2015 09:30:00 PM,2,DRIVER,NaN,9561.0,NaN,HYUNDAI,SONATA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100000,1d3c178880366c77deaf06b8c3198429112a1c8e8807ed...,11/16/2016 01:00:00 PM,2,PARKED,NaN,96745.0,NaN,"TOYOTA MOTOR COMPANY, LTD.",RAV4 (sport utility),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969763,2109651,006e6cb8786cf311d43f007a0c6e713d8024092582f607...,07/18/2025 11:05:00 PM,2,DRIVER,NaN,2011167.0,NaN,HONDA,CR-V,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969764,2109660,27b87030a620e0f94174913d2d2ce3a6002b127fbab220...,07/18/2025 04:45:00 PM,1,DRIVER,1.0,2011171.0,NaN,CADILLAC,XTS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969765,2109661,27b87030a620e0f94174913d2d2ce3a6002b127fbab220...,07/18/2025 04:45:00 PM,2,DRIVER,NaN,2011179.0,NaN,VOLKSWAGEN,TIGUAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969766,2109685,1b10f16633e40b81a7ed96a162c427614abccb7f5849f4...,07/18/2025 07:00:00 AM,1,DRIVER,NaN,2011192.0,NaN,INFINITI,Q50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969767,2109686,1b10f16633e40b81a7ed96a162c427614abccb7f5849f4...,07/18/2025 07:00:00 AM,2,DRIVER,NaN,2011193.0,Y,TOYOTA,CAMRY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,NaN

In [4]:
print("\nData Types:\n", vehicles_df.dtypes)

Data Types:
 CRASH_UNIT_ID               int64
CRASH_RECORD_ID            object
CRASH_DATE                 object
UNIT_NO                     int64
UNIT_TYPE                  object
                            ...
CARGO_BODY_TYPE            object
LOAD_TYPE                  object
HAZMAT_OUT_OF_SERVICE_I    object
MCS_OUT_OF_SERVICE_I       object
HAZMAT_CLASS               object
Length: 71, dtype: object

In [5]:
print("\nMissing Values:\n", vehicles_df.isnull().sum())

Missing Values:
 CRASH_UNIT_ID                    0
CRASH_RECORD_ID                  0
CRASH_DATE                       0
UNIT_NO                          0
UNIT_TYPE                     2335
                            ...
CARGO_BODY_TYPE            1954200
LOAD_TYPE                  1954903
HAZMAT_OUT_OF_SERVICE_I    1956150
MCS_OUT_OF_SERVICE_I       1955911
HAZMAT_CLASS               1968527
Length: 71, dtype: int64

In [6]:
print("\nSample Records:\n", vehicles_df.head())

Sample Records:
    CRASH_UNIT_ID                                    CRASH_RECORD_ID  \
0             10  2e31858c0e411f0bdcb337fb7c415aa93763cf2f23e02f...
1            100  e73b35bd7651b0c6693162bee0666db159b28901437009...
2           1000  f2b1adeb85a15112e4fb7db74bff440d6ca53ff7a21e10...
3          10000  15a3e24fce3ce7cd2b02d44013d1a93ff2fbdca80632ec...
4         100000  1d3c178880366c77deaf06b8c3198429112a1c8e8807ed...

               CRASH_DATE  UNIT_NO UNIT_TYPE  NUM_PASSENGERS  VEHICLE_ID  \
0  08/04/2015 12:40:00 PM        1    DRIVER             NaN        10.0
1  07/31/2015 05:50:00 PM        1    DRIVER             NaN        96.0
2  09/02/2015 11:45:00 AM        1    DRIVER             NaN       954.0
3  10/31/2015 09:30:00 PM        2    DRIVER             NaN      9561.0
4  11/16/2016 01:00:00 PM        2    PARKED             NaN     96745.0

  CMRC_VEH_I                        MAKE                 MODEL  ...  \
0        NaN                        FORD                 Focus  ...
1        NaN                      NISSAN            Pathfinder  ...
2        NaN                        FORD                  F150  ...
3        NaN                     HYUNDAI                SONATA  ...
4        NaN  TOYOTA MOTOR COMPANY, LTD.  RAV4 (sport utility)  ...

  TRAILER1_LENGTH  TRAILER2_LENGTH TOTAL_VEHICLE_LENGTH AXLE_CNT  \
0             NaN              NaN                  NaN      NaN
1             NaN              NaN                  NaN      NaN
2             NaN              NaN                  NaN      NaN
3             NaN              NaN                  NaN      NaN
4             NaN              NaN                  NaN      NaN

  VEHICLE_CONFIG CARGO_BODY_TYPE LOAD_TYPE HAZMAT_OUT_OF_SERVICE_I  \
0            NaN             NaN       NaN                     NaN
1            NaN             NaN       NaN                     NaN
2            NaN             NaN       NaN                     NaN
3            NaN             NaN       NaN                     NaN
4            NaN             NaN       NaN                     NaN

  MCS_OUT_OF_SERVICE_I  HAZMAT_CLASS
0                  NaN           NaN
1                  NaN           NaN
2                  NaN           NaN
3                  NaN           NaN
4                  NaN           NaN

[5 rows x 71 columns]

In [7]:
print("\nColumn Names:\n", vehicles_df.columns.tolist())

Column Names:
 ['CRASH_UNIT_ID', 'CRASH_RECORD_ID', 'CRASH_DATE', 'UNIT_NO', 'UNIT_TYPE', 'NUM_PASSENGERS', 'VEHICLE_ID', 'CMRC_VEH_I', 'MAKE', 'MODEL', 'LIC_PLATE_STATE', 'VEHICLE_YEAR', 'VEHICLE_DEFECT', 'VEHICLE_TYPE', 'VEHICLE_USE', 'TRAVEL_DIRECTION', 'MANEUVER', 'TOWED_I', 'FIRE_I', 'OCCUPANT_CNT', 'EXCEED_SPEED_LIMIT_I', 'TOWED_BY', 'TOWED_TO', 'AREA_00_I', 'AREA_01_I', 'AREA_02_I', 'AREA_03_I', 'AREA_04_I', 'AREA_05_I', 'AREA_06_I', 'AREA_07_I', 'AREA_08_I', 'AREA_09_I', 'AREA_10_I', 'AREA_11_I', 'AREA_12_I', 'AREA_99_I', 'FIRST_CONTACT_POINT', 'CMV_ID', 'USDOT_NO', 'CCMC_NO', 'ILCC_NO', 'COMMERCIAL_SRC', 'GVWR', 'CARRIER_NAME', 'CARRIER_STATE', 'CARRIER_CITY', 'HAZMAT_PLACARDS_I', 'HAZMAT_NAME', 'UN_NO', 'HAZMAT_PRESENT_I', 'HAZMAT_REPORT_I', 'HAZMAT_REPORT_NO', 'MCS_REPORT_I', 'MCS_REPORT_NO', 'HAZMAT_VIO_CAUSE_CRASH_I', 'MCS_VIO_CAUSE_CRASH_I', 'IDOT_PERMIT_NO', 'WIDE_LOAD_I', 'TRAILER1_WIDTH', 'TRAILER2_WIDTH', 'TRAILER1_LENGTH', 'TRAILER2_LENGTH', 'TOTAL_VEHICLE_LENGTH', 'AXLE_CNT', 'VEHICLE_CONFIG', 'CARGO_BODY_TYPE', 'LOAD_TYPE', 'HAZMAT_OUT_OF_SERVICE_I', 'MCS_OUT_OF_SERVICE_I', 'HAZMAT_CLASS']

In [8]:
print("Shape of the dataset:", vehicles_df.shape)

Shape of the dataset: (1969768, 71)

In [9]:
vehicles_df.describe()

,CRASH_UNIT_ID,UNIT_NO,NUM_PASSENGERS,VEHICLE_ID,VEHICLE_YEAR,OCCUPANT_CNT,CMV_ID,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT
count,1.969768e+06,1.969768e+06,291632.000000,1.923407e+06,1.620192e+06,1.923407e+06,19670.000000,2486.000000,70.000000,3048.000000,4624.000000
mean,1.053651e+06,3.482699e+00,1.469362,1.002109e+06,2.014572e+03,1.079456e+00,10963.675292,48.460579,44.271429,53.165026,9.315528
std,6.096814e+05,2.691896e+03,1.065047,5.794789e+05,1.386615e+02,7.819697e-01,6329.397305,20.426850,28.008240,31.530108,382.441301
min,2.000000e+00,0.000000e+00,1.000000,2.000000e+00,1.900000e+03,0.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000
25%,5.251958e+05,1.000000e+00,1.000000,5.005895e+05,2.007000e+03,1.000000e+00,5405.250000,45.000000,24.250000,35.000000,2.000000
50%,1.055198e+06,2.000000e+00,1.000000,1.000024e+06,2.013000e+03,1.000000e+00,11022.500000,53.000000,50.000000,53.000000,3.000000
75%,1.581963e+06,2.000000e+00,2.000000,1.503526e+06,2.017000e+03,1.000000e+00,16446.750000,53.000000,53.000000,66.000000,5.000000
max,2.109686e+06,3.778035e+06,59.000000,2.011193e+06,9.999000e+03,9.900000e+01,21845.000000,740.000000,123.000000,999.000000,26009.000000

In [10]:
vehicles_df.describe(include='all')

,CRASH_UNIT_ID,CRASH_RECORD_ID,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
count,1.969768e+06,1969768,1969768,1.969768e+06,1967433,291632.000000,1.923407e+06,36557,1923402,1923257,...,2486.000000,70.000000,3048.000000,4624.000000,16274,15568,14865,13618,13857,1241
unique,NaN,965825,637303,NaN,9,NaN,NaN,2,1435,2839,...,NaN,NaN,NaN,NaN,8,9,6,2,2,8
top,NaN,67c687ee6be6bb4420406e6b5dde7c729d82e24a662cfd...,02/06/2025 08:00:00 AM,NaN,DRIVER,NaN,NaN,Y,CHEVROLET,OTHER (EXPLAIN IN NARRATIVE),...,NaN,NaN,NaN,NaN,TRACTOR/SEMI-TRAILER,VAN/ENCLOSED BOX,OTHER,N,N,MISCELLANEOUS
freq,NaN,18,74,NaN,1649045,NaN,NaN,22864,220533,194784,...,NaN,NaN,NaN,NaN,6260,6578,8110,13600,13804,1095
mean,1.053651e+06,NaN,NaN,3.482699e+00,NaN,1.469362,1.002109e+06,NaN,NaN,NaN,...,48.460579,44.271429,53.165026,9.315528,NaN,NaN,NaN,NaN,NaN,NaN
std,6.096814e+05,NaN,NaN,2.691896e+03,NaN,1.065047,5.794789e+05,NaN,NaN,NaN,...,20.426850,28.008240,31.530108,382.441301,NaN,NaN,NaN,NaN,NaN,NaN
min,2.000000e+00,NaN,NaN,0.000000e+00,NaN,1.000000,2.000000e+00,NaN,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,5.251958e+05,NaN,NaN,1.000000e+00,NaN,1.000000,5.005895e+05,NaN,NaN,NaN,...,45.000000,24.250000,35.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.055198e+06,NaN,NaN,2.000000e+00,NaN,1.000000,1.000024e+06,NaN,NaN,NaN,...,53.000000,50.000000,53.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.581963e+06,NaN,NaN,2.000000e+00,NaN,2.000000,1.503526e+06,NaN,NaN,NaN,...,53.000000,53.000000,66.000000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,2.109686e+06,NaN,NaN,3.778035e+06,NaN,59.000000,2.011193e+06,NaN,NaN,NaN,...,740.000000,123.000000,999.000000,26009.000000,NaN,NaN,NaN,NaN,NaN,NaN

## Data Cleaning

In [11]:
vehicles_df.isnull().sum()

CRASH_UNIT_ID                    0
CRASH_RECORD_ID                  0
CRASH_DATE                       0
UNIT_NO                          0
UNIT_TYPE                     2335
                            ...
CARGO_BODY_TYPE            1954200
LOAD_TYPE                  1954903
HAZMAT_OUT_OF_SERVICE_I    1956150
MCS_OUT_OF_SERVICE_I       1955911
HAZMAT_CLASS               1968527
Length: 71, dtype: int64

In [13]:
vehicles_df_cleaned = vehicles_df.dropna()
vehicles_df_cleaned

Empty DataFrame
Columns: [CRASH_UNIT_ID, CRASH_RECORD_ID, CRASH_DATE, UNIT_NO, UNIT_TYPE, NUM_PASSENGERS, VEHICLE_ID, CMRC_VEH_I, MAKE, MODEL, LIC_PLATE_STATE, VEHICLE_YEAR, VEHICLE_DEFECT, VEHICLE_TYPE, VEHICLE_USE, TRAVEL_DIRECTION, MANEUVER, TOWED_I, FIRE_I, OCCUPANT_CNT, EXCEED_SPEED_LIMIT_I, TOWED_BY, TOWED_TO, AREA_00_I, AREA_01_I, AREA_02_I, AREA_03_I, AREA_04_I, AREA_05_I, AREA_06_I, AREA_07_I, AREA_08_I, AREA_09_I, AREA_10_I, AREA_11_I, AREA_12_I, AREA_99_I, FIRST_CONTACT_POINT, CMV_ID, USDOT_NO, CCMC_NO, ILCC_NO, COMMERCIAL_SRC, GVWR, CARRIER_NAME, CARRIER_STATE, CARRIER_CITY, HAZMAT_PLACARDS_I, HAZMAT_NAME, UN_NO, HAZMAT_PRESENT_I, HAZMAT_REPORT_I, HAZMAT_REPORT_NO, MCS_REPORT_I, MCS_REPORT_NO, HAZMAT_VIO_CAUSE_CRASH_I, MCS_VIO_CAUSE_CRASH_I, IDOT_PERMIT_NO, WIDE_LOAD_I, TRAILER1_WIDTH, TRAILER2_WIDTH, TRAILER1_LENGTH, TRAILER2_LENGTH, TOTAL_VEHICLE_LENGTH, AXLE_CNT, VEHICLE_CONFIG, CARGO_BODY_TYPE, LOAD_TYPE, HAZMAT_OUT_OF_SERVICE_I, MCS_OUT_OF_SERVICE_I, HAZMAT_CLASS]
Index: []

[0 rows x 71 columns]